h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 50px;
}
.album-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    .album {
        text-align: center;
        margin-right: 25px;
        margin-bottom: 25px;
        img {
            height: 250px;
            width: 250px;
        }
    }
}